          <div class="mastfoot">
            <div class="inner">
              <p class="muted-text">
                <ul class="list-inline">
                  <li>&copy; 2009-{{ site.time | date: '%Y' }} Mustachio Bashio, All Rights Reserved</li>
                </ul>
                <ul class="list-inline">
                  <li>
                    <a href="https://twitter.com/mustachiobashio" target="_blank">
                      <i class="icon icon-social-twitter"><span class="label">Twitter</span></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/MustachioBashioCleveland" target="_blank">
                      <i class="icon icon-social-facebook"><span class="label">Facebook</span></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/mustachiobashio" target="_blank">
                      <i class="icon icon-social-github"><span class="label">GitHub</span></i>
                    </a>
                  </li>
                </ul>
              </p>
            </div>
          </div>