  <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.mousewheel-3.0.6.pack.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.fancybox.pack.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.fancybox-buttons.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.fancybox-media.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.fancybox-thumbs.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
  <script src="//unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
  <script>
    $(document).ready(function() {
      var $container = $("#isotope-container");
      var filters = {};
      $container.imagesLoaded(function() {
        $container.isotope({
          itemSelector: ".championItem",
          layoutMode: "fitRows"
        });
      })

      $(".filter-button-group").on("click", "button", function() {
        var $this = $(this);
        var $buttonGroup = $this.parents(".filter-button-group");
        $buttonGroup.find(".active").removeClass("active");
        $this.addClass("active");
        var $filterGroup = $buttonGroup.attr("data-filter-group");
        filters[$filterGroup] = $this.attr("data-filter");
        var filterValue = concatValues(filters);
        $container.isotope({
          filter: filterValue
        });
      });

      function concatValues(obj) {
        var value = "";
        for (var prop in obj) {
          value += obj[prop];
        }

        return value;
      }
    });
  </script>
